:root {
  --board-size: 800px;
  --square-size: calc(var(--board-size) / 8);
  --board-color: #e10a0a;
  --square-white: #bdc3c7;
  --square-black: #2c3e50;
  --game-background: #1d3d5c;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--game-background);
  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    .header {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        color: #fff;
        font-size: 3rem;
      }
    }
  }
}

.game-container {
  display: grid;
  grid-template-columns:
    minmax(300px, 1fr) calc(var(--board-size) + 4em)
    minmax(300px, 1fr);
  gap: 2em;
}

.game-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.5rem;
  .player-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    h2 {
      margin: 0;
    }
    span {
      font-size: 1rem;
    }
  }
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  gap: 2em;
  .game-board {
    background-color: var(--board-color);
    width: var(--board-size);
    height: var(--board-size);
    .row {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      position: relative;
      .row-number {
        position: absolute;
        top: 50%;
        left: -1em;
        transform: translateY(-50%);
        font-size: 1.5rem;
        color: #fff;
      }
      .row-number-reverse {
        position: absolute;
        top: 50%;
        right: -1em;
        transform: translateY(-50%);
        font-size: 1.5rem;
        color: #fff;
      }
      .square-letter {
        position: absolute;
        top: -1em;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
        color: #fff;
      }

      .square-letter-reverse {
        position: absolute;
        bottom: -2.2em;
        right: 50%;
        transform: translate(50%, -50%);
        font-size: 1.5rem;
        color: #fff;
      }
      .square {
        position: relative;
        aspect-ratio: 1;
      }
    }
    .row:nth-child(even) {
      .square:nth-child(even) {
        background-color: var(--square-black);
      }
    }
    .row:nth-child(odd) {
      .square:nth-child(odd) {
        background-color: var(--square-black);
      }
    }
    .row:nth-child(even) {
      .square:nth-child(odd) {
        background-color: var(--square-white);
      }
    }
    .row:nth-child(odd) {
      .square:nth-child(even) {
        background-color: var(--square-white);
      }
    }
  }

  .start-button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .start-button {
      background-color: var(--square-black);
      color: #fff;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      margin-inline: auto;
      margin-block: 20px;
    }
  }

  .start-options {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: grayscale(30%);
    display: flex;
    align-items: center;
    justify-content: center;
    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
    }
    label {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      margin-bottom: 10px;
    }
  }
}

.square {
  width: var(--square-size);
  aspect-ratio: 1;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  .square-content {
    width: 100%;
    height: 100%;
    .piece {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: 100px;
      }
    }
  }
}

.piece-container {
  cursor: grab;
  width: 100%;
  height: 100%;
  .piece {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
  }
}

.piece-container:active {
  cursor: grabbing;
}

.piece.dragging {
  opacity: 0.5;
  cursor: grabbing;
}

.possible-move {
  background-color: #67af86;
}

.opponent-piece {
  background-color: #e74c3c;
}
